body{
	font-family: 'Poppins', sans-serif;
}
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
.active a{
	text-decoration: underline;
}
header{
	background: #fff;
	padding: 5px 0;
}
.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-container a{
	color: #000;
	font-size: 16px;
	margin-right: 15px;
	padding: 20px 3px;
}
.header-container a:hover{
	text-decoration: underline;
	/*background: #828282;*/
}
#menu-checkbox{
	display: none;
}
ul{
	display: flex; 
}
nav{
	margin-top: 20px;
}

@media screen and (max-width: 575px) {
	.header-conainer{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		widows: 100%;
		display: block;
		font-size: 12 px;
	}

	.main-menu a{
		display: block;
		padding: 8px;
	}
	.toggle-button{
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 0;	
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-left: -65px;
	}
	.main-menu{
		position: relative
		top: 25px;
		right: 115px;
	}
}

