body{
	font-family: 'Poppins', sans-serif;
}
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
.active a{
	text-decoration: underline;
}
header{
	background: #fff;
	padding: 5px 0;
}
.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-container a{
	color: #000;
	font-size: 16px;
	margin-right: 15px;
	padding: 20px 3px;
}
.header-container a:hover{
	text-decoration: underline;
	/*background: #828282;*/
}
#menu-checkbox{
	display: none;
}
ul{
	display: flex; 
}
nav{
	margin-top: 20px;
}



@media screen and (max-width: 575px) {
	.header-conainer{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		width: 100%;
		display: block;
		font-size: 12 px;
	}

	.main-menu a{
		display: block;
		padding: 8px;
	}
	.toggle-button{
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 0;	
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-left: -65px;
	}
	.main-menu{
		position: relative
		top: 25px;
		right: 115px;
	}


	

}

.about_page{
	height: 600px;

}
	
.about_page	{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 35%;
	text-align: left;
}

.img img { 
	max-width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	left: 400px;
	bottom: 40px; 
}

.text_left h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    color: black;
    position: absolute;
    left: 123px;
    bottom: 303px;
    width: 90%;
}

.text_left p {
	font-family: 'Roboto Mono', monospace;
	font-size: 25px;
	color: black;
	position: absolute;	
	left: 150px;
	bottom: 170px;	
	width: 50px;
	height: auto;

}

.text_right h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 35px;
	color: black;
	position: absolute;	
	right: 10%;
	bottom: 350px;	
	width: 400px;
	height: auto;
}

.text_right p {
	font-family: 'Roboto Mono', monospace;
	font-size: 25px;
	color: black;
	position: absolute;	
	right: 10%;
	bottom: 120px;	
	width: 400px;
	height: auto;
}

.button	a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: white;
  background: black;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
  position: absolute;
  left: 8%;
  bottom: 100px;
}
.button a:hover {
  background: gray;
  box-shadow: 0 15px 20px gray;
  color: white;
  transform: translateY(-7px);
}


/*@media (max-width: 575px)
{
	.about_page{
	height: 90%;
	}

	.img img {
    max-width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    left: 51px;
    bottom: -66px;
	}

	}
	.text_right h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 33px;
    color: black;
    position: absolute;
    right: -30%;
    bottom: -294px;
    width: 400px;
    height: auto;
	}

	.text_right p {
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
    color: black;
    position: absolute;
    right: -5%;
    bottom: -494px;
    width: 400px;
    height: auto;
	}
	
	.button a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: white;
    background: black;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    position: absolute;
    left: 25%;
    bottom: -248px;
	}

	.text_left p {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    color: black;
    position: absolute;
    left: 136px;
    bottom: -179px;
    width: 50px;
    height: auto;
	}

	.text_left h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
    color: black;
    position: absolute;
    left: 123px;
    bottom: -127px;
    width: 90%;
	}
}
*/